<div class="Index">

    <login ng-if="!vm.IsLogon"></login>
    <div ng-if="vm.IsLogon">

        <!--<div id='cssmenu'>-->
        <div>
            <ul>


                <li><a href="#!/menu/">Menu</a></li>
                <li><a href="#!/students/">Students</a></li>
                <li><a href="#!/subjects/">Subjects</a></li>
                <li><a href="#!/exams/">Exams</a></li>


                <!--<li><a href="/menu">Menu</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/subjects">Subjects</a></li>
                <li><a href="/exams">Exams</a></li>-->


            </ul>

        </div>
        <!--<div id='cssmenu2'>-->
        <div ng-view></div>

        <!--</div>-->


    </div>
</div>